@model List<AcunmedyaAkademiPortfolyo.Models.TableTestimonial>
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>TestimonialList</h2>

<table class="table table-bordered">


    <tr>
        <th>Referans Id</th>
        <th>Referans Adı-Soyadı</th>
        <th>Referans Başlık</th>
        <th>Referans Açıklama</th>
        <th>Resimler</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Testimoniald</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td>@item.CommentDetail</td>         
            <td><img src="@item.ImageUrl"</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.Testimoniald" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.Testimoniald" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Testimonial/CreateTestimonial/" class="btn btn-primary">Yeni Referans Girişi</a>

